<!-- game-board.component.html -->
<div class="game-board">
  <div class="game-container">
    <div class="player-info">
      <div class="player-1-info" [ngClass]="{ 'active': playerA.turn }">
        <div class="player-color player-1"> Red</div>
        <div class="player-name">Player 1</div>
        <div class="pawns-left">Pawns Left: {{ playerA.pawnsLeft }}</div>
      </div>
      <div class="player-2-info" [ngClass]="{ 'active': playerB.turn }">
        <div class="player-color player-2">Yellow</div>
        <div class="player-name">Player 2</div>
        <div class="pawns-left">Pawns Left: {{ playerB.pawnsLeft }}</div>
      </div>
    </div>

    <div class="board">
    <div class="row" *ngFor="let row of grid; let rowIndex = index">
      <div class="cell" *ngFor="let cell of row; let colIndex = index" (click)="onCellClick(rowIndex, colIndex)">
        <div class="token" [ngClass]="{ 'player-1': cell === 'red', 'player-2': cell === 'yellow' }"></div>
      </div>
    </div>
    </div>
    <button class="btn-newgame"(click)="newGame()">New Game</button>
  </div>
</div>
